#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 4em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo_react {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.timer {
  /* width: 367px; */
  border-radius: 18px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 800;
  font-family: monospace;
  background-color: #1a1a1a;
  transition: border-color 0.25s;
  display: flex;
  gap: 50px;
  justify-content: space-evenly;
  margin: 0;
  font-size: 30px;
  /* color: #2563eb; */
  /* color: #e11d48; */
}

.timer:hover {
  border-color: #646cff;
}
.stopWatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.btns {
  display: flex;
  gap: 20px;
}
.calender {
  border: 3px solid white;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(243, 242, 241, 0.02);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: larger;
}
